利用者マイページ
<div class="container">
  <div class="row">
    <div class="col">
      <table>
        <tr>
          <th>氏名</th>
          <td><%= @user.user_name %></td>
        </tr>
        <tr>
          <th>生年月日</th>
          <td><%= @user.birthdate %></td>
        </tr>
        <tr>
          <th>プロフィール</th>
          <td><%= @user.profile %></td>
        </tr>
      </table>
    </div>
    <div class="col">
      <%= link_to "食事・服薬記録", root_path %></br>
      <%= link_to "排泄記録", root_path %></br>
      <%= link_to "バイタル記録", root_path %></br>
    </div>
  </div>
</div>
